body {
    font-family: Vazirmatn, sans-serif;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #1441a9 0%, #612bb7 100%);
}
#wrapper #content-wrapper {
    background-color:#f8f9fc00 !important;

}
.form-group {
    text-align: right;
}
#content{
    background: #f8f9fc;
    margin: 30px 30px 0px 30px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
}
#wrapper>.sidebar {
    background-color: #0094e900 !important;
    background-image: none !important;
    background-size: auto !important;
}
footer.sticky-footer {
    background: none !important;
}


.border-right-info {
    border-right: .25rem solid #36b9cc!important
}

.border-right-warning {
    border-right: .25rem solid #f6c23e!important
}

.border-right-success {
    border-right: .25rem solid #1cc88a!important;
}

.border-right-primary {
    border-right: .25rem solid #4e73df!important
}