body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-color: #BBB;
	font-family	: arial;
	font-size	: 100%;
}
#info .top {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}

#info .controls {
	position	: absolute;
	top		: 10px;
	left		: 10px;
	padding		: 5px;
}
