/* tab color */
#bookmarks>li>a {
background-color: #666;
  border: 1px solid #888888;
  color:#fff;
}

/* active tab color */
#bookmarks>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #333333; 
  border-color: #777777;
}

/* hover tab color */
#bookmarks>li>a:hover {
  border-color: #000000;
  background-color: #111111;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  background-image: url("img/background.png");
  background-size: 100% 125%;
  background-color: #000000;
}

.panel-danger> .panel-heading {
  color: #000099;
  background-color: #CCF2FF;
  border-color: #000099;
}
